@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
.formouter {
    /* background-image: url("https://image.freepik.com/free-vector/people-sitting-hospital-corridor-waiting-doctor-patient-clinic-visit-flat-vector-illustration-medicine-healthcare_74855-8507.jpg") !important; */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    margin-top: 0px !important;
}
.formh1 {
    /* margin: 0 auto 40px; */
    color: rgb(0, 0, 0);
    font: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    font-family: "Poppins";

}
.formlabel {
    position: relative;
    display: block;
}
.forminput, .forminputs {
    font: 18px;
    font-family: "Poppins";
    box-sizing: border-box;
    display: block;
    border: none;
    padding: 23px;
    width: 300px;
    background-color: #f0f0f0;
    margin: 10px 0;
    font-weight: 500;
    /* margin-bottom: 20px; */
    font-size: 18px;
    outline: none;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
}
.forminputs{
    margin-right: 0px !important;
}
.forminput::placeholder {
    transition: all 0.2s ease-in-out;
    color: #999;
    font: 18px;
    font-family: "Poppins";
}
.forminput:focus, .forminput.populated {
    padding-top: 28px;
    padding-bottom: 12px;
}
.forminput:focus::placeholder, .forminput.populated::placeholder {
    color: transparent;
}
.forminput:focus + span, .forminput.populated + span {
    opacity: 1;
    top: 10px;
}
.formspan {
    color: #fc0356;
    /* font-weight: bold; */
    font: 16px;
    font-family: "Poppins";
    position: absolute;
    top: 0px;
    left: 20px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.formsubmit {
    transition: all 0.2s ease-in-out;
    font: 18px Helvetica, Arial, sans-serif;
    border: 2px solid #fc0356 !important;
    background: white;
    color: #fc0356;
    padding: 16px 40px;
    width: 205px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin-left: 15%;
}
.formsubmit:hover {
    background: #fc0356!important;
    color: white;
    font-weight: bold;
    /* box-shadow: 0 0 8px #fc9003 !important; */
}

.formsubmits{
    transition: all 0.2s ease-in-out;
    font: 18px Helvetica, Arial, sans-serif;
    border: none;
    background: #fc0356;
    color: white;
    font-weight: bold;
    padding: 8px 8px;
    width: 160px;
    height: 60px;
    justify-content: center;
    border-radius: 5px;
}
    @media(max-width: 699px)
    {
        .xyz{
            width: 142%;
            height: 120%;
            padding: 10px 10px;
            
        }
        h1{
            color: black;
            margin-top: 10%;
        }
      .heading{
        font-family: "Poppins";
        font-style: italic;
        color: black;
        font-size: 20px;
        /* margin-top: 30%; */
        margin-right: 10%;
      }
    }
    
  @media(min-width: 700px) {
    .xyz{
        width: 100%;
        height: auto;
        padding: 40px 20px;
    }
    h1.heads{
        font-family: "Sanchez",serif;
        color: black;
        margin-top: 40%;
    }
    .hospital{
        margin-top: 5%; 
        width: 90%;
   }
   .heading{
    font-family: "Poppins";
    font-style: italic;
    color: black;
    font-size: 25px;
    margin-top: 30%;
    margin-right: 10%;
}
  }


.loginboxs {
	position: absolute;
	margin-top: 400px;
    height: 500px;
	left: 50%;
	width: 480px;
	padding: 40px;
	transform: translate(-50%, -50%);
	background: white;
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.6);
	border-radius: 10px;
}
.loginboxis{
    position: absolute;
	margin-top: 650px;
    height: 1150px;
	left: 50%;
	width: 80%;
	padding: 40px;
	transform: translate(-50%, -50%);
	background: white;
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.6);
	border-radius: 10px;
}

@media(max-width: 505px){
   
    img.imgs{
        display: none;
    }
  
    
    .hospital{
        margin-top: 10%; 
        width: 480px;
   }
   .container{
       margin-left: 20px;
   }
}

.full{
    height: auto;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

td{
    font-size: 21px;
}
th{
    font-size: 21px;
}

th {
    position: sticky;
    top: 0;
    background-color: white;
  }
    
  .container,.containers {
    
    display: flex;
    transition: 0.3s;
  }
  .containers{
      margin-top: 100px;
  }

.headss{
    font-family: "Poppins";
}