@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

a.nav-link.active{

    /* background-color: white; */
    /* text-decoration: underline; */
    border-bottom: 2px solid white;
    padding-bottom: 2px;
    padding: 9px 0px;
}

a.navbar-brand, a.nav-link{
    margin: 0px 40px;
    padding: 9px;
    color: white;
    font-size: 20px;
    font-family: "Poppins";
    font-weight: bold;
    text-align: center;
}
/* button.btn.btn-large.waves-effect.waves-light.hoverable.blue.accent-3{
    float: right;
} */
a.nav-link:hover{
    color: white;
}
a.navbar-brand{
    background-color: white;
    padding: 9px;
    font-family: "Poppins";
    font-weight: bold;
    color: #fc0356;
}
label.s{
    font-size: 22px;
    font-weight: bold;
    /* float: left; */
}

input.form-control.str{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #fc0356;
    width: 80%;
}
select.form-control.x{
    border: 1px solid #fc0356;
    /* border-radius: 0; */
    /* border-bottom: 1px solid #fc0356; */
    width: 80%;
}

.navbar-custom{
    background-color:#fc0356;
}

.btn{
    /* margin-right: 0px; */
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Poppins';
    /* float: right; */
}

@media(max-width: 505px){
    .btn{
        margin-left: 40%;
    }
}

span.navbar-toggler-icon{
    color: white;
}

.custom-toggler.navbar-toggler{
    border-color: white;
    color: white;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    
}